@import "tailwindcss";

@layer components {
  html,
  body,
  #root {
    @apply h-screen overflow-hidden overscroll-none;
  }

  .no-scrollbar::-webkit-scrollbar {
    @apply hidden;
  }
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }

  input[type="range"]::-webkit-slider-runnable-track {
    color: #63cbeb;
  }

  input[type="range"]::-webkit-slider-thumb {
    background: #63cbeb;
  }
}
